Multi-Agent Orchestration Workflow for an Intelligent Trip Planner/multi-agent (V4)
{
  "name": "Multi-Agent (V4)",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -544,
        128
      ],
      "id": "ab225793-6022-4281-a625-135ac7487080",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -688,
        112
      ],
      "id": "9b9b4c42-9d08-4f86-a9c7-da382b0a5ca6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RAiNGPEspWX9b36J",
          "name": "OpenAi account 20"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -768,
        -80
      ],
      "id": "585ebe2c-e2f1-4703-8196-eab885cf7675",
      "name": "Chat Trigger (Chat Bot)",
      "webhookId": "948019d9-3afc-4b7e-bbce-0f5fc658d1b0"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        128
      ],
      "id": "f61ef672-2605-477f-8a35-87ac83902f0f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tueq8SckbMyMi8Ck",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Trip Plan Validator and Summarizer.\n\nINPUT: \nTrip itinerary or error message.\n\nIf input is an error:\nRephrase it politely and clearly.\n\nYOUR RESPONSIBILITIES:\n1. Validate\nEnsure travel dates are consistent.\nEnsure hotel stay matches trip duration.\nEnsure activities fit within daily timing.\nRemove obvious conflicts or unrealistic scheduling.\nIf small issues exist, correct them silently.\n\n2. Optimize and Curate\nIf multiple options are provided:\n\nFlights\nSelect 2–3 best options.\nPrefer non-stop or minimal layovers.\nBalance price and duration.\nRemove redundant or clearly inferior options.\n\nHotels\nSelect top 2–3 options.\nPrefer 4 star+ (or best available from the list).\nPrioritize central location and value.\n\nActivities\nSelect top 5–8 experiences.\nDistribute logically by day.\nBalance iconic attractions and unique/local experiences.\nAvoid overloading any single day.\n\n3. Present Clearly:\nEnsure this structure\nTrip Overview\nFlights\nHotel\nActivities\n\nKeep response readable and professional.\n\nDo not include system or workflow details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        240,
        -64
      ],
      "id": "8641b6b8-d0ba-481a-9f55-43289b67805b",
      "name": "Validator and Summarizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Trip Planner.\n\nINPUT: \nYou will receive a validated trip request JSON.\n\nYOUR JOB IS TO:\nPass the request to the \"Orchestrator and Executor\" tool.\nReturn the itinerary response.\nIf the tool returns an error, pass the error message forward.\n\nDo NOT generate your own itinerary.\nDo NOT summarize or modify the content. This is handled by the Validator.\nDo NOT add commentary.\nDo NOT mention system limitations. \n\nIf you run into any errors or issues, report that or pass the error details from the sub workflow as an output."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -64
      ],
      "id": "fee20dff-91e2-45ab-8192-cdca2a391c97",
      "name": "Planner"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Trip Request Coordinator.\n\nYOUR JOB IS TO:\nExtract structured travel details from the user message and return valid JSON using the provided schema.\nKeep the city names for origin and destination instead of airport codes.\n\nCurrent System Time is {{ $now }}.\n\nRULES:\nExtract origin, destination, departure_date, and return_date.\n\nIf any of these four are missing, set \"error\": true.\n\nPopulate error_msg with a friendly message listing missing fields.\n\nDo NOT create an itinerary.\n\nDo NOT guess missing critical fields.\n\nDefault number_of_travelers to 1 if not provided.\n\nExtract preferences, travel_style, budget, and optional hotel/flight preferences if present.\n\nReturn only structured JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -560,
        -80
      ],
      "id": "e6cc9e74-b234-48eb-a9da-68f3a04de134",
      "name": "CoOrdinator",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 100,
      "onError": "continueRegularOutput",
      "notes": "Respond with an \"Unexpected error encountered. Please retry again\""
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        128
      ],
      "id": "2ac3675e-203d-4a92-9660-fc7c5cdac116",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "tueq8SckbMyMi8Ck",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "186ef341-3d76-40f6-a4c6-d09068d94c8c",
              "leftValue": "={{ $json.output.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        -80
      ],
      "id": "d5c12aaf-09bf-49fa-9cdb-b6fa78fd4b23",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7v7Lks74Bfr6hvdF",
          "mode": "list",
          "cachedResultUrl": "/workflow/7v7Lks74Bfr6hvdF",
          "cachedResultName": "Single Agent (V2.3) - Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chatInput', `This the json payload that is received as input. This should not be empty.`, 'string') }}",
            "sessionId": "={{ $('Chat Trigger (Chat Bot)').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        32,
        176
      ],
      "id": "b79626a6-ab49-4db5-bf2b-449437df5b94",
      "name": "Orchestrator and Executor"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"TripPlannerRequest\",\n  \"type\": \"object\",\n  \"required\": [\"error\"],\n  \"properties\": {\n    \"origin\": {\n      \"type\": \"string\",\n      \"description\": \"City or airport code of departure\"\n    },\n    \"destination\": {\n      \"type\": \"string\",\n      \"description\": \"City or airport code of destination\"\n    },\n    \"departure_date\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"Departure date in YYYY-MM-DD\"\n    },\n    \"return_date\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"Return date in YYYY-MM-DD\"\n    },\n     \"error\": {\n      \"type\": \"boolean\",\n      \"default\": false,\n      \"description\": \"Return true if one of origin, destination, departure_date, return_date fields are either empty or not filled in\"\n    },\n     \"error_msg\": {\n      \"type\": \"string\",\n       \"default\": \"\",\n      \"description\": \"Include the error message and list the missing fields\"\n    },\n    \"number_of_travelers\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"default\": 1\n    },\n    \"budget\": {\n      \"type\": \"number\",\n      \"description\": \"Total trip budget in USD\"\n    },\n    \"travel_style\": {\n      \"type\": \"string\",\n      \"enum\": [\"budget\", \"mid-range\", \"luxury\"]\n    },\n    \"preferences\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"User interests such as food, museums, nightlife, hiking\"\n    },\n    \"hotel_preferences\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"star_rating_min\": {\n          \"type\": \"number\",\n          \"minimum\": 1,\n          \"maximum\": 5\n        },\n        \"neighborhood\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"flight_preferences\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"nonstop_only\": {\n          \"type\": \"boolean\"\n        },\n        \"preferred_airlines\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -400,
        128
      ],
      "id": "0cab1fe9-00e2-46b2-92d7-555764f90d6e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        544,
        -64
      ],
      "id": "d07646c2-5142-496d-9611-d4f8df8a89da",
      "name": "Chat Response"
    },
    {
      "parameters": {
        "message": "={{ $json.output.error_msg }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -112,
        -192
      ],
      "id": "30d0f27a-dd04-4501-b92c-0e6edd4a3cb4",
      "name": "Error Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "CoOrdinator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CoOrdinator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger (Chat Bot)": {
      "main": [
        [
          {
            "node": "CoOrdinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Validator and Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planner": {
      "main": [
        [
          {
            "node": "Validator and Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoOrdinator": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator and Executor": {
      "ai_tool": [
        [
          {
            "node": "Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "CoOrdinator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Validator and Summarizer": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf274ceb-e32a-4800-9b0e-fd58ec10f3ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8915628d001c9f12c477501d438b0ef663b51074cad39b3fe2c37a0f1ebd929"
  },
  "id": "X9pjaVoY4xdSkVBR",
  "tags": []
}